
<%@ page import="gestionimagenes.Entidad" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'entidad.label', default: 'Entidad')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-entidad" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-entidad" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="nombre" title="${message(code: 'entidad.nombre.label', default: 'Nombre')}" />
						<g:sortableColumn property="imagenPrincipal" title="${message(code: 'propiedad.imagenPrincipal.label', default: 'Imagen Principal')}" />
						<th class="text-center">Documentos</th>
					</tr>
				</thead>
				<tbody>
				<g:each in="${entidadInstanceList}" status="i" var="entidadInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${entidadInstance.id}">${fieldValue(bean: entidadInstance, field: "nombre")}</g:link></td>
						<td>
							<g:if test="${ entidadInstance.imagenPrincipal }">
	 							<img src="<g:createLink controller="multimediaImagen" action="viewImage" params="[id:"${entidadInstance.imagenPrincipal.id}"]"/>" 
	 								height="40px"/>
	 						</g:if>
						</td>
						<td class="text-center">${ entidadInstance.documentos.size() }</td>
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${entidadInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
