
<%@ page import="gestionimagenes.Propiedad" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'propiedad.label', default: 'Propiedad')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-propiedad" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-propiedad" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="nombre" title="${message(code: 'propiedad.nombre.label', default: 'Nombre')}" />
					
						<g:sortableColumn property="imagenPrincipal" title="${message(code: 'propiedad.imagenPrincipal.label', default: 'Imagen Principal')}" />						
						<th class="text-center">Imagenes</th>
						<th class="text-center">Planos</th>
						<th class="text-center">Documentos</th>
						<th class="text-center">Videos</th>
					</tr>
				</thead>
				<tbody>
				<g:each in="${propiedadInstanceList}" status="i" var="propiedadInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${propiedadInstance.id}">${fieldValue(bean: propiedadInstance, field: "nombre")}</g:link></td>
					
						<td>
							<g:if test="${ propiedadInstance.imagenPrincipal }">
	 							<img src="<g:createLink controller="multimediaImagen" action="viewImage" params="[id:"${propiedadInstance.imagenPrincipal.id}"]"/>" 
	 								height="40px"/>
	 						</g:if>
						</td>
						<td class="text-center">${ propiedadInstance.imagenes.size() }</td>
						<td class="text-center">${ propiedadInstance.planos.size() }</td>
						<td class="text-center">${ propiedadInstance.documentos.size() }</td>
						<td class="text-center">${ propiedadInstance.videos.size() }</td>
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${propiedadInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
